@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  background-color: #242424;
}

.game__container {
  width: 500px;
  height: 730px;
  position: absolute;
  left: 80px;
}

.border__left {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: #242424;
  z-index: +2;
}

.border__right {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: #242424;
  z-index: +2;
  left: 580px;
}

.border__top {
  width: 660px;
  height: 50px;
  position: absolute;
  background-color: #242424;
  z-index: +2;
  top: -50px;
}

.sky {
  background-image: url(./assets/fb-game-background.png);
  width: 500px;
  height: 580px;
  position: absolute;
}

.ground__container {
  height: 150px;
  width: 580px;
  position: absolute;
  z-index: +1;
}

.ground__moving {
  position: absolute;
  top: 580px;
  height: 150px;
  background-image: url(./assets/bottom-background.png);
  background-repeat: repeat-x;
  animation: slideright 100s infinite linear;
  width: 100%;
  z-index: 1;
}

@keyframes slideright {
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0%;
  }
}

.bird {
  background-image: url(./assets/siam.jpg);
  position: absolute;
  width: 50px;
  height: 45px;
  left: 220px;
  bottom: 100px;
  background-size: contain;
  transform-origin: bottom;
}

.obstacle {
  background-image: url("./assets/flappybird-pipe.png");
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacle {
  background-image: url("./assets/flappybird-pipe.png");
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}

.score {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
  font-size: 20px;
}

.text__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newgame {
  display: flex;
  color: #fff;
  position: absolute;
  z-index: 10;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  top: 40%;
  left: 28%;
}

h1 {
  font-size: 15px;
}

.active {
  color: #fff;
  position: absolute;
  left: 250px;
  top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active button,
.newgame button {
  width: 220px;
  font-size: 20px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
